.top-bar {
  &.-lasertag {
    background-color: $lasertag_green !important;
  }
  background-color: transparent !important;
  height: auto;
  width: 100%;
  min-height: 60px;
  transition: background-color .5s ease-in-out;
}
.left-right-container {
  // Desktop
  display: none;

  @media only screen and (min-width: 800px){
    height: 60px - 16px;
    display: block;
  }
}

.top-bar.open .left-right-container{
  // Mobile and only when open
  @media only screen and (max-width: 800px){
      height: auto;
      text-align: center;
      display: block;
  }
}

.item-container {
  height:inherit;
  display: block;
  width: 10rem;
  margin-left: calc(50% - 5rem);
  /* Desktop Nav */
  @media only screen and (min-width: 800px) {
    display: inline-block;
    height:inherit;
    width: auto;
    margin-left: 0;
    &.item-container-left {
      float: left;
      margin-left: 20px;
    }
    &.item-container-right {
      float: right;
      margin-right: 20px;
    }
  }
}

.item {
  height:inherit;
  display: inline-block;
  /* Mobile*/
  @media only screen and (max-width: 800px) {
    display: block;
    height: 3rem;
    text-align: center;
  }
}

/* Mobile nav*/
.mobile-hamburger-container{
  position: absolute;
  top: 1rem;
  right: 1.7rem;
  height: 2.5rem;
  width: 2.5rem;

  /* Desktop Nav */
  @media only screen and (min-width: 800px) {
    display: none;
  }
}

.mobile-hamburger{
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: .1rem;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  span:nth-child(1) {
    top: 0px;
  }
  span:nth-child(2),span:nth-child(3) {
    top: 12px;
  }
  span:nth-child(4) {
    top: 24px;
  }
  &.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  &.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

}

.email-button.-lasertag {
  background-color: darken($lasertag_green, 10) !important;
  &:hover {
    background-color: rgba(0,0,0,.4) !important;
    color: white;
  }
}
.email-button {
  margin: 0;
  margin-top: 1px;
  background-color: $secondary_color !important;
  font-weight:600;
  color: white;
  &:hover {
    border-color: transparent;
    background-color: rgba(0,0,0,.3) !important;
    color: #f4aa00;
  }
}

.link {
  margin-right: 1.5rem;
  display: block;
  height: inherit;
  text-align: center;
  padding-top: 10px;
  color: white !important;

  &:active {
    color: lightgray;
  }
  &:after {
    background-color: transparent;
    content: "";
    display: block;
    position: relative;
    margin-top: 10px;
    height: 1px;
    width: inherit;
    transition: margin-top .2s, background-color .2s;
  }
  &:hover:after {
    background-color: white;
    margin-top: 0px;
  }
  /* Desktop Nav */
  @media only screen and (max-width: 800px) {
    margin-left: 1.5rem;
  }
}
