@import 'normalize';
@import 'animate';




$harvard_red: rgba(172, 26, 47, 1);
$old_gold: rgba(244, 170, 0, 1);
$phitau_grey: rgba(167, 169, 172, 1);
$kelly_green: #009E60;
$primary_color: $harvard_red;
$secondary_color: $old_gold;
$lasertag_primary: rgb(110,110,110);
$lasertag_secondary: #F1F2F2;
$lasertag_green: #51b848;


// $primary_color: $kelly_green;
// $secondary_color: white;
@import "mixins";
@import "global";
@import "foundation.scss";


@import "nav";
@import "radiobutton";
@import "progressbar";

@import "sweetalert";


//
//
// #app.local-colors {
//   $primary_color: $kelly_green;
//   $secondary_color: white;
//   @import 'global';
// }
//
// #app.national-colors {
//   $primary_color: $harvard_red;
//   $secondary_color: $old_gold;
//   @import 'global';
// }
